img {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50px;
  height: 50px;
}

.img-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background: #F9FBFC;
  border-radius: 25px;
}
.img-container{
 display: flex;
 justify-content: center;
}

mat-form-field {
  width: 100%;
}