<div>
  <div *ngIf="auth.users$ | async; then authenticated else guest">
  </div>
  <ng-template #guest>
    <div class="container-login center">
      <div>
        <img id="imgGuy1" src="assets/images/guy1.svg">
        <img id="imgGuy2" src="assets/images/guy2.svg">
      </div>
      <div class="center">
        <h3>How much I drink?</h3>
        <p>Track your...progress and see how your health looks like this summer.</p>
        <div class="btn-login center">
          <img src="assets/icons/google.svg">
          <div (click)="auth.googleSignin()" class="log-in-text">Login with google</div>
        </div>
        <!-- <button mat-raised-button (click)="auth.googleSignin()">
          <i class="fa fa-google btn-login"></i> Login with google
        </button> -->
      </div>
    </div>
  </ng-template>
  <ng-template #authenticated let-user>
    <div class="container">
      <div class="header-row">
        <div class="menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/dashboard">
              <span>Panel menela</span>
            </button>
            <button mat-menu-item routerLink="/history">
              <span>Historia chlania</span>
            </button>
          </mat-menu>
        </div>
        <div> <img [attr.src]="(auth.users$ | async)?.photoURL"></div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
<!-- <div class="footer">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
    href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div> -->