.footer {
  text-align: center;
  font-size: smaller;
}

img {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  float: right;
}

.container {
  font-family: Roboto;
  margin: 1.5rem;
  height: 90vh;
  position: relative;

}

.menu {
  float: left;
}

.header-row {
  overflow: hidden;
}

.center {
  text-align: center;
}

@media (min-width:1025px) {
  .container {
    width: 30% !important;
    margin: auto;
  }
}