<div class="header-message">
  <span class="important-message">{{auth.getUser().displayName}}</span>,
  <div>czego się dzisiaj napijesz ?</div>
</div>
<div class="rectangle ok">
  {{auth.getUser().displayName}}, interwencja.
  <div class="info-message">
    Zastanów się, czy nie potrzebujesz pomocy.
  </div>
</div>
<div class="summary">
  <div class="important-message">Przechlane</div>
  <div style="clear: left">
    w tym miesiącu
  </div>
</div>
<div class="columns">
  <div class="rectangle-summary"><span class="font-big">622</span>
    <div>PLN</div>
  </div>
  <div class="rectangle-summary"><span class="font-big">71</span>
    <div>DAWEK ALKOHOLU</div>
  </div>
</div>
<div class="footer">
  <button style="align-self: flex-end;" class="ok" mat-fab routerLink="/add">+</button>
</div>
