@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn-accept {
    background: #FF7F5D !important;
    border-radius: 25px !important;
    width: 80%;
}

.text-center{
    text-align: center;
}